<div class="container">
    <!--<div class="top-bar" style="background-color: red">

        <div class="top-bar-items" >
        <i class="bi bi-geo-alt-fill"></i>
        </div>

        <div class="top-bar-items">
        <i class="bi bi-telephone-fill"></i>
        </div>

        <div class="top-bar-items">
        <i class="bi bi-envelope-fill"></i>
        </div>

        <div class="top-bar-items">
        <i class="bi bi-globe"></i>
        </div>

    </div>-->
    <div class="bottom-bar">
        <form>
            <h1>CONTACT US</h1>
            <div class="bottom-bar-items">
                <label for="full-name">FULL NAME</label><br>
                <input type="text" placeholder="Name" >
            </div>
            <div class="bottom-bar-items">
                <label for="email">EMAIL ADDRESS</label><br>
                <input type="text" placeholder="Email">
            </div>
            <div class="bottom-bar-items">
                <label for="message">MESSAGE</label><br>
                <textarea id="subject" name="subject" placeholder="Message..." style="height:150px; width: 300px;"></textarea>
            </div>

            <div class="bottom-bar-items">
                <input type="submit" value="Send Messsage">
            </div>
        </form>
        <div class="img">
        </div>
</div>
</div> 