<div class="wrapper" >
    <section class="ftco-section">
        <div class="login-wrap" >
            <h3 class="mb-4 text-center">Welcome Back!</h3>
            <form acton="#" class="signin-form text-center">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                </div>
                <div class="form-group d-md-flex">
                    <div class="w-50">
                        <input type="checkbox">
                        <label for="vehicle1" style="color: black; margin-left: 10px;">Remember Me</label>
                    </div>
                    <div class="w-50 text-md-right">
                        <a href="#" style="color: black; text-decoration: none;">Forgot Password?</a>
                    </div>
                </div>
            </form>

            <p class = "w-100 text-center" style="color: black; font-family: Arial, Helvetica, sans-serif;">&mdash;&mdash;&mdash; Or Sign In With &mdash;&mdash;&mdash;</p>
                <div class="social d-flex text-center">
                    <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                    <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                </div>
        </div>
    </section>
</div>

